In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('name.csv',header=1)
# df = pd.read_excel('name.xlsx')

In [ ]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
row_indx_name_1 = df.index  # 得到一个对象
row_indx_name_2 = df.index.values #得到一个列表

In [ ]:
# 查看所有列的列名
df.columns # 得到的是一个series对象
df.columns.values # 得到的是一个列表

In [ ]:
'''
print(df.at['行标签名', '列标签名'])
print(df.iat['行索引号', '列索引号'])
 
print(df.loc['行标签名', '列标签名'])
print(df.iloc[行索引数字, 列索引数字])
 
print(df.loc['行标签名1':'行标签名2', '列标签名1': '列标签名2'])
print(df.iloc[行索引数字1:行索引数字2, 列索引数字1:列索引数字2])
'''

In [ ]:
df.dtypes

In [ ]:
df["姓名"].values # 获取某一列的所有数值 
# 说明:需要先用对应列的列名称“姓名”获取对应列对象，然后用.values将对象转变为列表

In [ ]:
df['B'].isnull()

In [ ]:
df['B'].unique()

In [ ]:
import pandas as pd
 
dataframe=pd.DataFrame({"a":[1,2,3],"b":["aaa","bbb","ccc"]}) 
 
#选取 属性“a” 中 大于1的行：
dataframe[dataframe.a>1]
 
#选取 属性“a” 中 大于1的 “b”列
dataframe["b"][dataframe.a>1]
 
#选取属性“b”在list 中 行
list=["aaa","ccc"]
dataframe[dataframe.b.isin(list)]

In [ ]:
"""导出为excel或csv文件"""
#单条件
dataframe_1 = df.loc[df['部门'] == 'A', ['姓名', '工资']]
#单条件
dataframe_2 = df.loc[df['工资'] < 3000, ['姓名', '工资']]
#多条件
dataframe_3 = df.loc[(df['部门'] == 'A')&(df['工资'] < 3000), ['姓名', '工资']]
#导出为excel
dataframe_1.to_excel('dataframe_1.xlsx')
dataframe_2.to_excel('dataframe_2.xlsx')

In [ ]:
df.fillna(value=0)

In [ ]:
df['prince'].fillna(df['prince'].mean())

In [ ]:
df['city']=df['city'].str.lower()

In [ ]:
df['price'].astype('int')

In [ ]:
df['city'].drop_duplicates()

In [ ]:
df1=pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006,1007,1008], 
"gender":['male','female','male','female','male','female','male','female'],
"pay":['Y','N','Y','Y','N','Y','N','Y',],
"m-point":[10,12,20,40,40,40,30,20]})

In [ ]:
df_inner=pd.merge(df,df1,how='inner')  # 匹配合并，交集
df_left=pd.merge(df,df1,how='left')        #
df_right=pd.merge(df,df1,how='right')
df_outer=pd.merge(df,df1,how='outer')  #并集

In [ ]:
result = df1.append(df)

In [ ]:
df_inner.set_index('id')

In [ ]:
df_inner.sort_values(by=['age'])

In [ ]:
df_inner.sort_index()

In [ ]:
pd.DataFrame((x.split('-') for x in df_inner['category']),index=df_inner.index,columns=['category','size'])

In [ ]:
df_inner.loc[(df_inner['age'] > 25) & (df_inner['city'] == 'beijing'), ['id','city','age','category','gender']]

In [ ]:
df_inner.loc[(df_inner['age'] > 25) | (df_inner['city'] == 'beijing'), ['id','city','age','category','gender']].sort(['age'])

In [ ]:
df_inner.loc[(df_inner['city'] != 'beijing'), ['id','city','age','category','gender']].sort(['id'])

In [ ]:
df_inner.groupby(['city','size'])['id'].count()

In [ ]:
df_inner.sample(n=3)

In [ ]:
df_inner.describe()

In [ ]:
df_inner.cov()

In [ ]:
df_inner.corr()

In [ ]:
df_inner.to_excel('excel_to_python.xlsx', sheet_name='bluewhale_cc')